body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    display: flex;
  }

  img {
    max-width: 250px;
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #FFC107;
    color: #fff;
    padding-top: 20px;
  }

  .sidebar a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-top: 30px;
    margin-left: 30px;
  }

  .sidebar a :hover {
    color: #B93CE5;
}

  .content {
    flex: 1;
    padding: 20px;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .sidebar {
      width: 100%;
      height: auto;
    }

    img {
        margin-left: 100px;
    }
  }